
<nav class="breadcrumbs-wrapper mb-80" aria-label="breadcrumbs">
  <div class="container grid">
    <ol class="breadcrumbs ml-22">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href={{"/" | relative_url }}>Home</a></li>
      {%- if page.dir != "/" -%}
      {%- assign paths = {{page.dir | remove_first: "/" | split: "/"}} -%}
      {%- for path in paths -%}
      {%- capture url -%}{%- for p in paths limit:forloop.index -%}{{p}}/{%- endfor -%}{%- endcapture -%}
      {%- if forloop.last -%}
        <li class="breadcrumbs__item" aria-current="page">
          {{path | replace: "-", " "}}
        {%- else -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{site.baseurl}}/{{url}}">{{path | replace: "-", " "}}</a>
      {%- endif -%}</li>
      {%- endfor -%}
      {%- endif -%}
    </ol>
  </div>
</nav>

