
<nav class="breadcrumbs-wrapper" aria-label="breadcrumbs">
  <div class="container grid">
    <ol class="breadcrumbs">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href={{"/" | relative_url }}>Home</a></li>
      {%- if page.dir != "/" -%}
      {%- assign paths = {{page.dir | remove_first: "/" | split: "/"}} -%}
      {%- for path in paths -%}
      {%- capture url -%}{%- for p in paths limit:forloop.index -%}{{p}}/{%- endfor -%}{%- endcapture -%}
      <li class="breadcrumbs__item">
        {%- if forloop.last -%}{{path | replace: "-", " "}}
        {%- else -%}<a class="breadcrumbs__link" href="{{site.baseurl}}/{{url}}">{{path | replace: "-", " "}}</a>
        {%- endif -%}</li>
      {%- endfor -%}
      {%- endif -%}
    </ol>
  </div>
</nav>

