<footer class="rac-footer">
  <div class="container">
    <div class="footer__section title">Rockefeller<br/>Archive Center</div>
    <div class="footer__section address">
      <p>15 Dayton Avenue<br/>
         Sleepy Hollow, New York 10591</p>

      <p>Phone: (914) 366-6400<br/>
         Fax: (914) 631-6017<br/>
         E-mail: archive@rockarch.org</p>
    </div>
    <div class="footer__section reading-room">
      <p>Reading Room Hours:</p>
      <p>Monday-Friday<br/>
         9:00 a.m. to 5:00 p.m.<br/>
         By appointment only.</p>
      <a href="#">See holiday schedule</a>
    </div>
    <div class="footer__section social">
      <div class="social-icons">
        <a href="https://twitter.com/rockarch_org"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/RockefellerArchiveCenter"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/rockefellerarchivecenter"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCks9ctz4OF9tMNOTrRkWIZg"><i class="fab fa-youtube"></i></a>
        <a href="https://www.flickr.com/photos/147074352@N05/"><i class="fab fa-flickr"></i></a>
      </div>
      <p>
        <a class="policy-link" href="#">Privacy Policy</a>
        <a class="policy-link" href="#">RAC Policies</a>
      </p>
      <p>Copyright &copy; Rockefeller Archive Center. All rights reserved.</p>
    </div>
  </div>
</footer>
