<footer class="rac-footer" role="contentinfo">
  <div class="container">
    <div class="footer__section title">Rockefeller<br/>Archive Center</div>
    <div class="footer__section address">
      <p>15 Dayton Avenue<br/>
         Sleepy Hollow, New York 10591</p>

      <p>Phone: (914) 366-6400<br/>
         Fax: (914) 631-6017<br/>
         E-mail: <a href="mailto:archive@rockarch.org">archive@rockarch.org</a></p>
    </div>
    <div class="footer__section reading-room">
      <p>Reading Room Hours:</p>
      <p>Monday-Friday<br/>
         9:00 a.m. to 5:00 p.m.<br/>
         <a href={{"/collections/access-and-request-materials/" | relative_url }}>By appointment only.</a></p>
      <a href={{"/collections/access-and-request-materials/holiday-schedule/" | relative_url }}>See holiday schedule</a>
    </div>
    <div class="footer__section social">
      {% include social-icons.html %}
      <p>
        <a class="policy-link" href="#">Privacy Policy</a>
        <a class="policy-link" href="https://docs.rockarch.org">RAC Policies</a>
      </p>
      <p>Copyright &copy; Rockefeller Archive Center. All rights reserved.</p>
    </div>
  </div>
</footer>
