<!-- temporary COVID-19 banner -->
<div style="
    background-color: #D8531E;
    color: white;
    font-size: 1em;
    font-family: Manuale, serif;
    margin: 0;
    text-align: justify;
">
  <div class="wrapper">
    <div class="container">
    <div class="one-column-content" style="padding-top: 1em; padding-bottom: 1em;">
      <strong>The Rockefeller Archive Center reading room will be closed until further notice
      beginning Monday, March 16, 2020.</strong>  Researchers should feel free to contact Archive Center
      staff who will be working from home and who can be reached through the links on this site.
    </div>
    </div>
  </div>
</div>

<header class="rac-hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-logo">
        <img alt="Rockefeller Archive Center" src={{"/assets/img/home_page_logo.svg" | relative_url }} />
      </div>
      <h1 class="hero-text">
        The Rockefeller Archive Center is a major repository and research center
        for the study of philanthropy and its impact throughout the world.
      </h1>
    </div>
  </div>
</header>

<div style="background-color: #000000;
    font-family: Manuale, serif;
    text-align: justify;">
  <div class="wrapper">
    <div class="container">
      <div class="one-column-content" style="padding-top: 1em; padding-bottom: 1em;">
        <h2 style="color: white;">Statement in Solidarity with the Asian, Asian-American and Pacific Islander Community</h2>
        <p style="color: white;font-size: 1.5em;">
          We at the Rockefeller Archive Center have reacted in horror at the
          killings in Atlanta that primarily targeted Asian American women and
          the rising hatred and violence directed against members of the Asian,
          Asian American and Pacific Islander community over the past year.
          After the murder of George Floyd and other Black citizens, we vowed to
          do better, and these recent events make it abundantly clear that all
          of us have so much more to do to confront and defeat the toxic racism
          that exists in our society.
        </p>
        <p style="color: white;font-size: 1.5em;">
          Through our donor institutions, collections, researchers and
          colleagues, the Rockefeller Archive Center has a strong and
          supportive relationship with the AAPI community, and yet it is also
          clear that our archives contain material that has contributed to the
          systemic racism that this community has faced.  We must acknowledge
          this and continue our work to find new ways to challenge racist
          thinking while at the same time highlighting the efforts of those
          individuals and organizations that have worked successfully to
          confront racism in all of its forms.
        </p>
      </div>
    </div>
  </div>
</div>
