<!-- temporary COVID-19 banner -->
<div style="
    background-color: #D8531E;
    color: white;
    font-size: 1em;
    font-family: Manuale, serif;
    margin: 0;
    text-align: justify;
">
  <div class="wrapper">
    <div class="container">
    <div class="one-column-content" style="padding-top: 1em; padding-bottom: 1em;">
      <strong>The Rockefeller Archive Center reading room will be closed until further notice
      beginning Monday, March 16, 2020.</strong>  Researchers should feel free to contact Archive Center
      staff who will be working from home and who can be reached through the links on this site.
    </div>
    </div>
  </div>
</div>

<header class="rac-hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-logo">
        <img alt="Rockefeller Archive Center" src={{"/assets/img/home_page_logo.svg" | relative_url }} />
      </div>
      <h1 class="hero-text">
        The Rockefeller Archive Center is a major repository and research center
        for the study of philanthropy and its impact throughout the world.
      </h1>
    </div>
  </div>
</header>

<div style="font-family: Manuale, serif;
  border-bottom: 2px dotted rgba(47, 47, 47, 0.3);
  padding-bottom: 2em">
  <div class="wrapper">
    <div class="container">
      <div class="one-column-content" style="padding-top: 1em; padding-bottom: 1em;">
        <h2>Remembering Tom Rosenbaum</h2>
        <img class="rosenbaum-img" alt="Tom Rosenbaum" src="/assets/img/rosenbaum.jpg" />
        <div class="rosenbaum-text">
          <p>
            Our cherished colleague, Tom Rosenbaum, passed away on September 16.
            Generations of researchers have benefitted from Tom’s thoughtful advice
            and wise guidance through our collections, and his devotion to the
            Archive Center was a gift to all of us.  We treasured Tom’s broad
            knowledge, his intelligence, his active curiosity, and his sincere
            compassion.  And we will miss him enormously.
          </p>
          <p>Tom’s family is planning a memorial service at the Community Unitarian
            Universalist Congregation in White Plains, NY, at a time when such a
            gathering can be safely held. They have also asked that donations in
            Tom's name be made to the Unitarian Universalist Service Committee at:
            <a href="https://www.uusc.org/">uusc.org</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
