
    <div class="hero">
      <div class="wrapper">
        <div class="container grid pt-10">
          <div class="hero__logo ml-20">
            <img alt="" src="https://assets.rockarch.org/assets/img/hero_logo.png" />
          </div>
          <h1 class="hero__text mx-15">
            By collecting, managing, preserving and providing broad and equitable 
            access to the historical records of philanthropy and other efforts to 
            work on behalf of the public good, the Rockefeller Archive Center 
            inspires critical analysis and contributes knowledge to diverse learning 
            communities throughout the world.
          </h1>
        </div>
      </div>
    </div>

