<!-- temporary COVID-19 banner -->
<div style="
    background-color: #D8531E;
    color: white;
    font-size: 1em;
    font-family: Manuale, serif;
    margin: 0;
    text-align: justify;
">
  <div class="wrapper">
    <div class="container">
    <div class="one-column-content alert" style="padding-top: 1em; padding-bottom: 1em;">
      The Rockefeller Archive Center reading rooms are now open to
      researchers on a limited capacity basis. Researchers
      should contact
      <a href="mailto:archive@rockarch.org">archive@rockarch.org</a>
      to schedule an appointment. All researchers and visitors to the
      Rockefeller Archive Center must review and comply with our
      <a href="/about-us/covid-19-prevention-policy-for-researchers-and-visitors/">COVID-19 Prevention Policy</a>.
    </div>
    </div>
  </div>
</div>

<header class="rac-hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-logo">
        <img alt="Rockefeller Archive Center" src={{"/assets/img/home_page_logo.svg" | relative_url }} />
      </div>
      <h1 class="hero-text">
        The Rockefeller Archive Center is a major repository and research center
        for the study of philanthropy and its impact throughout the world.
      </h1>
    </div>
  </div>
</header>
