<section class="rac-instagram">
  <div class="container">
    <h2 class="title ml-15 no-border">From Our Collections</h2>
    <div class="instagram-posts">
      <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/28422b4495765616a0ef8a8015ae8a2f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
    <a class="instagram-link" href="https://www.instagram.com/rockefellerarchivecenter">See more on Instagram</a>
  </div>
</section>
