<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

<script src="{{ "/assets/js/disclosure-menu.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/nav.js" | relative_url }}"></script>
<script src="{{ "/assets/js/toc.js" | relative_url }}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#toc__link-group').toc({classes: { list: 'list-group',item: 'list-group-item'}});
    //Apply .toc__link-item class to all links in #toc__link-group div
    $('#toc__link-group > a').addClass('toc__link-item');

    // Polyfill for startsWith (thanks IE)
    if (!String.prototype.startsWith) {
      String.prototype.startsWith = function(searchString, position) {
        position = position || 0;
        return this.indexOf(searchString, position) === position;
      };
    }

    if (document.getElementsByClassName('hero').length) {
      img = new Image();
      img.src = "{{'/assets/img/hero_image.jpg' | relative_url }}"
      img.onload = function () {
        document.getElementsByClassName('hero')[0].classList += ' loaded'
      }
    }
});
</script>
