<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

<script src="{{ "/assets/js/disclosure-menu.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/inclusive-menu-button.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/nav.js" | relative_url }}"></script>
<script src="{{ "/assets/js/toc.js" | relative_url }}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.side-nav').toc({classes: { list: 'list-group',item: 'list-group-item'}});

    // Polyfill for startsWith (thanks IE)
    if (!String.prototype.startsWith) {
      String.prototype.startsWith = function(searchString, position) {
        position = position || 0;
        return this.indexOf(searchString, position) === position;
      };
    }

    const buttons = document.querySelectorAll('[data-inclusive-menu-opens]')
    for (i=0; i < buttons.length; i++) {
      const b = new MenuButton(buttons[i])
      b.on('choose', function(choice) {
        if (choice.getAttribute("href").startsWith("#")) {
          // Scroll to target on page
          window.scrollTo({left: 0, top: document.getElementById(choice.getAttribute("href").substring(1)).offsetTop, behavior: 'smooth'})
        } else {
          // Go to new page
          window.location.href = choice.getAttribute("href");
        }
      })
    }

    if (document.getElementsByClassName('rac-hero').length) {
      img = new Image();
      img.src = "{{'/assets/img/hero_image.jpg' | relative_url }}"
      img.onload = function () {
        document.getElementsByClassName('rac-hero')[0].classList += ' loaded'
      }
    }
});
</script>
