<div class="rac-social-icons">
  <a href="https://twitter.com/rockarch_org"><i class="fab fa-twitter"></i></a>
  <a href="https://www.facebook.com/RockefellerArchiveCenter"><i class="fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/rockefellerarchivecenter"><i class="fab fa-instagram"></i></a>
  <a href="https://www.youtube.com/channel/UCks9ctz4OF9tMNOTrRkWIZg"><i class="fab fa-youtube"></i></a>
  <a href="https://www.flickr.com/photos/147074352@N05/"><i>{% include flickr_svg.html %}</i></a>
</div>
