<div class="rac-social-icons">
  <a href="https://twitter.com/rockarch_org"><i class="fab fa-twitter"></i><span class="visually-hidden">Twitter</span></a>
  <a href="https://www.facebook.com/RockefellerArchiveCenter"><i class="fab fa-facebook-f"></i><span class="visually-hidden">Facebook</span></a>
  <a href="https://www.instagram.com/rockefellerarchivecenter"><i class="fab fa-instagram"></i><span class="visually-hidden">Instagram</span></a>
  <a href="https://www.youtube.com/channel/UCks9ctz4OF9tMNOTrRkWIZg"><i class="fab fa-youtube"></i><span class="visually-hidden">YouTube</span></a>
  <a href="https://www.flickr.com/photos/147074352@N05/"><i>{% include flickr_svg.html %}</i><span class="visually-hidden">Flickr</span></a>
</div>
