<section class="rac-navbar navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!"><img src="{{ "/assets/img/header_logo_whiteoutline.svg" | relative_url }}"/></a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><i class="material-icons">menu</i></a>
      </div>
      <ul class="nav-list">
        <li class="level-1">
          <a href="#">Collections <i class="material-icons">keyboard_arrow_down</i></a>
          <ul class="nav-dropdown">
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">About Our Collections</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Search Our Collections</p>
                <p class="nav-item-description">Start at DIMES, our online catalog.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">How to Access & Request Materials</p>
                <p class="nav-item-description">Plan your visit, see facility policies, and more.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Apply for a Research Stipend</p>
                <p class="nav-item-description">Review our guidelines and apply.</p>
                </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Information for Records Donors</p>
                <p class="nav-item-description">Curabitur lobortis id lorem id bibendum.</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="level-1">
          <a href="#">Resources <i class="material-icons">keyboard_arrow_down</i></a>
          <ul class="nav-dropdown">
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">About Our Collections</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Search Our Collections</p>
                <p class="nav-item-description">Start at DIMES, our online catalog.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">How to Access & Request Materials</p>
                <p class="nav-item-description">Plan your visit, see facility policies, and more.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Apply for a Research Stipend</p>
                <p class="nav-item-description">Review our guidelines and apply.</p>
                </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Information for Records Donors</p>
                <p class="nav-item-description">Curabitur lobortis id lorem id bibendum.</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="level-1">
          <a href="#">About Us <i class="material-icons">keyboard_arrow_down</i></a>
          <ul class="nav-dropdown">
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">About Our Collections</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Search Our Collections</p>
                <p class="nav-item-description">Start at DIMES, our online catalog.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">How to Access & Request Materials</p>
                <p class="nav-item-description">Plan your visit, see facility policies, and more.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Apply for a Research Stipend</p>
                <p class="nav-item-description">Review our guidelines and apply.</p>
                </a>
            </li>
            <li class="level-2">
              <a href="#!">
                <p class="nav-item-title">Information for Records Donors</p>
                <p class="nav-item-description">Curabitur lobortis id lorem id bibendum.</p>
              </a>
            </li>
          </ul>
        </li>
        <div class="social-icons">
          <a href="https://twitter.com/rockarch_org"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/RockefellerArchiveCenter"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/rockefellerarchivecenter"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCks9ctz4OF9tMNOTrRkWIZg"><i class="fab fa-youtube"></i></a>
          <a href="https://www.flickr.com/photos/147074352@N05/"><i class="fab fa-flickr"></i></a>
        </div>
      </ul>
    </nav>
  </div>
</section>
