<section class="rac-navbar navigation">
  <div class="nav-container">
    {%- if page.dir != "/" -%}
    <div class="brand">
      <a href="/"><img src="{{ "/assets/img/header_logo_whiteoutline.svg" | relative_url }}"/></a>
    </div>
    {%- endif -%}
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><i class="material-icons">menu</i></a>
      </div>
      <ul class="nav-list">
        <li class="level-1">
          <a href="#!">Collections <i class="material-icons">keyboard_arrow_down</i></a>
          <ul class="nav-dropdown">
            <li class="level-2">
              <a href="/about-us/overview#collections">
                <p class="nav-item-title">About Our Collections</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="https://dimes.rockarch.org">
                <p class="nav-item-title">Search Our Collections</p>
                <p class="nav-item-description">Start at DIMES, our online catalog.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="/collections/information-for-researchers/">
                <p class="nav-item-title">How to Access & Request Materials</p>
                <p class="nav-item-description">Plan your visit, see facility policies, and more.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="/collections/research-stipends/">
                <p class="nav-item-title">Apply for a Research Stipend</p>
                <p class="nav-item-description">Review our guidelines and apply.</p>
                </a>
            </li>
            <li class="level-2">
              <a href="/collections/information-for-records-donors/">
                <p class="nav-item-title">Information for Records Donors</p>
                <p class="nav-item-description">Curabitur lobortis id lorem id bibendum.</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="level-1">
          <a href="#">Resources <i class="material-icons">keyboard_arrow_down</i></a>
          <ul class="nav-dropdown">
            <li class="level-2">
              <a href="https://resource.rockarch.org">
                <p class="nav-item-title">RE:source</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="https://rockarch.issuelab.org/">
                <p class="nav-item-title">Research Reports</p>
                <p class="nav-item-description">Reports by those who have conducted research at the RAC.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="https://www.zotero.org/groups/222650/rac">
                <p class="nav-item-title">RAC Bibliography</p>
                <p class="nav-item-description">Comprehensive bibliography of the publications that are based on work conducted at the RAC.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="https://blog.rockarch.org">
                <p class="nav-item-title">Bits &amp; Bytes</p>
                <p class="nav-item-description">The RAC blog.</p>
                </a>
            </li>
            <li class="level-2">
              <a href="https://docs.rockarch.org">
                <p class="nav-item-title">Archival Documentation &amp; Policies</p>
                <p class="nav-item-description">A collection of the RAC's archival documentation.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="/resources/about-the-rockefellers/">
                <p class="nav-item-title">About the Rockefellers</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="level-1">
          <a href="#">About Us <i class="material-icons">keyboard_arrow_down</i></a>
          <ul class="nav-dropdown">
            <li class="level-2">
              <a href="/about-us/overview/">
                <p class="nav-item-title">Overview</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="/about-us/program-areas/">
                <p class="nav-item-title">Program Areas</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="/about-us/board-and-staff/">
                <p class="nav-item-title">Board &amp; Staff</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
              </a>
            </li>
            <li class="level-2">
              <a href="/about-us/employment-opportunities/">
                <p class="nav-item-title">Employment Opportunties</p>
                <p class="nav-item-description">Nam dapibus nisl vitae elit fringi.</p>
                </a>
            </li>
          </ul>
        </li>
        <div class="social-icons">
          <a href="https://twitter.com/rockarch_org"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/RockefellerArchiveCenter"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/rockefellerarchivecenter"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCks9ctz4OF9tMNOTrRkWIZg"><i class="fab fa-youtube"></i></a>
          <a href="https://www.flickr.com/photos/147074352@N05/"><i class="fab fa-flickr"></i></a>
        </div>
      </ul>
    </nav>
  </div>
</section>
