// TODO: factor out typography

.biographies {
  display: grid;
  column-gap: 15px;
  row-gap: 26px;
  grid-template-columns: 1fr 1fr;

  @include md-up {
    grid-template-columns: repeat(3, 1fr);
  }

  @include lg-up {
    grid-template-columns: repeat(4, 1fr);
  }

  .biography {
    img {
      width: 100%;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    h3 {
      font-family: $sans-serif-stack;
      font-weight: 900;
      font-size: 15px;
      color: $regal-blue;
      line-height: 18px;
      margin: 8px 0 0 0;
    }
  }
}

.bio-page-image {
  @include md-up {
    float: left;
    margin-right: 20px;
  }
}
