.biographies {
  display: grid;
  column-gap: 15px;
  row-gap: 26px;
  grid-template-columns: 1fr 1fr;

  @include md-up {
    grid-template-columns: repeat(3, 1fr);
  }

  @include lg-up {
    grid-template-columns: repeat(4, 1fr);
  }

  .biography {
    img {
      width: 100%;
    }

    h3 {
      font-weight: $font-weight-heavy;
      font-size: 15px;
      line-height: 18px;
      margin: 8px 0 0 0;
    }
  }
}

.bio-page-image {
  @include md-up {
    float: left;
    margin-right: 20px;
  }
}
