// TODO: factor out typography

.biographies {
  display: flex;
  flex-wrap: wrap;
  .biography {
    margin-bottom: 26px;
    @include grid-column(6);
    @media screen and (min-width: $break-md) {
      @include grid-column(4);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(3)
    }
    img {
      width: 100%;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    h3 {
      font-family: $sans-serif-stack;
      font-weight: 900;
      font-size: 15px;
      color: $regal-blue;
      line-height: 18px;
      margin: 8px 0 0 0;
    }
  }
}

.bio-page-image {
  @media screen and (min-width: $break-md) {
    float: left;
    margin-right: 20px;
  }
}
