// -----------------------------------------------------------------------------
// This file contains classes for breadcrumbs layout styles.
// -----------------------------------------------------------------------------

/**
* Adds a wrapper to the breadcrumbs to include a background color and margin
**/
.breadcrumbs-wrapper {
  margin-bottom: 80px;
  background-color: $off-white;
}

/**
* The container div includes the .grid class to establish a 12-column grid layout,
* and these styles specify the placement of the breadcrumbs in the grid columns.
**/
.breadcrumbs {
  grid-column: 1 / span 12;
  margin-left: 22px;

  @include lg-up {
    grid-column: 3 / span 10;
  }
}