@import 'colors';
@import 'typography';
@import 'utilities';


.rac-blue-button {
  display: flex;
  padding: 18px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: left;
  font-size: 16px;
  font-family: $sans-serif-stack;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $pure-white;
  background: $deep-navy;
  opacity: 0.8;
  transition: $transition-default;
  &:after {
        content: ">";
    }

  &:hover {
    opacity: 1;
    cursor:pointer;
    transition: $transition-default;
  }

  @media screen and (min-width: $break-md) {
    padding: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
  }

}

.rac-orange-button {
  display: inline-block;
  min-width: 100px;
  padding: 11px 15px 13px 15px;
  text-align: center;
  font-size: 13px;
  font-family: $sans-serif-stack;
  font-weight: 400;
  color: $pure-white;
  background: $burnt-orange;
  transition: $transition-default;

  &:hover {
    background: $med-brown;
    cursor: pointer;
    transition: $transition-default;
  }

}

.rac-sidebar-button {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  font-family: $sans-serif-stack;
  line-height: 17px;
  text-align: left;
  color: $deep-navy;
  padding: 14px 22px 16px 20px;
  transition: $transition-default;
  background: $pale-blue;
  &:hover {
    background: $light-blue;
    transition: $transition-default;
    cursor: pointer;
  }
  // TODO: icon mixin
}
