// -----------------------------------------------------------------------------
// This file contains all local styles related to the button component.
// -----------------------------------------------------------------------------

.btn--program-links {
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: 0.2em;
}

.sidebar__btn {
  border: 0;
  letter-spacing: inherit;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 14px 22px 16px 20px;
  text-transform: inherit;
  font-size: 14px;

  .material-icon {
    margin-left: auto;
    font-size: 18px;
  }
}
