// -----------------------------------------------------------------------------
// This file contains all local styles related to the button component.
// -----------------------------------------------------------------------------

.btn--program-links {
  letter-spacing: 0.2em;
}

.sidebar__btn {
  border: 0;
  letter-spacing: inherit;
  text-transform: inherit;
  font-size: 14px;

  .material-icon {
    margin-left: auto;
    font-size: 18px;
  }
}
