
$burnt-orange: #D8531E;
$med-brown: #9E3C0F;
$deep-brown: #662700;

$red-orange: #F16943;
$faded-orange: #F39452;

$deep-navy: #192E49;
$faded-navy: rgba(25,45,73,0.5);
$light-blue: #C6D2DE;
$pale-blue: #EBEFF4;

$dark-gray: #2F2F2F;
$neutral-sand: #E3E1DD;
$off-white: #F6F6F4;
$pure-white: #FFFFFF;
