@import 'colors';
@import 'typography';
@import 'utilities';

.rac-footer {
  display: flex;
  background: $neutral-sand;
  p { @include footer-text; }
  a {
    @include footer-text;
    text-decoration: underline;
    font-weight: $font-weight-normal;
    &:hover {
      color: $burnt-orange;
      transition: $transition-default;
    }
  }
  .address {
    @media screen and (min-width: $break-lg) {
      margin-left: 0px;
    }
  }
  .footer__section {
    margin-bottom: 40px;
    @media screen and (min-width: $break-md) {
      @include grid-column(6);
      margin-bottom: 50px;
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(3);
    }
  }
  .social {
    margin-bottom: 30px;
    & a {
      margin-bottom: 18px;
      i {
        font-size: 22px;
        height: 44px;
        width: 44px;
      }
    }
    @media screen and (min-width: $break-md) {
      @include grid-column(12);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(6);
      text-align: right;
    }
  }
  .title {
    font-family: $sans-serif-stack;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 26px;
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 28px;
    @media screen and (min-width: $break-md) {
      @include grid-column(12);
    }
  }
}
