// TODO: factor out typography
// TODO: make class names consistent

.rac-footer {
  display: flex;
  background: $neutral-sand;
  p { @include footer-text; }
  a { @include footer-text; } // TODO: do we need this?
  .address {
    @media screen and (min-width: $break-lg) {
      margin-left: 0px;
    }
  }
  .footer__section {
    margin-bottom: 40px;
    @media screen and (min-width: $break-md) {
      @include grid-column(6);
      margin-bottom: 50px;
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(3);
    }
  }
  .policy-link {
    margin-left: 28px;
  }
  .social {
    margin-bottom: 30px;
    .rac-social-icons { // TODO: factor this out completely to _social-icons.scss
      display: unset;
    }
    & a {
      margin-bottom: 18px;
      i {
        // display: inline-block;
        font-size: 22px;
        height: 44px;
        width: 44px;
        svg {
          padding-bottom: 4px;
        }
      }
    }
    @media screen and (min-width: $break-md) {
      @include grid-column(12);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(6);
      text-align: right;
    }
  }
  .title {
    font-family: $sans-serif-stack;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 26px;
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 28px;
    @media screen and (min-width: $break-md) {
      @include grid-column(12);
    }
  }
}
