// -----------------------------------------------------------------------------
// This file contains local CSS helper classes.
// -----------------------------------------------------------------------------

/**
* Local styles for the .container class
* 1. Adjusts the .container class from the RAC Style Library to include larger gutters 
* and a max-width.
* 2. Restores the default .container gutters for the footer
*/

.container { /* 1 */
  margin: 0 $gutters-default;
  max-width: 1440px;
}

footer .container {
  margin: 0 15px; /* 2 */
}