// -----------------------------------------------------------------------------
// This file contains local CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Styles for paragraph text on the homepage used to describe the contents of
 * associated page links
 */
.text--description {
  color: $night-grey;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  @media screen and (min-width: $break-lg) {
    font-size: 15px;
    line-height: 21px;
  }
}