/**
 * Styles for hero on homepage. Adjusts style library styles for background image,
 * different layout (using CSS grid), and different font sizes for hero__text.
 */

.hero {
  position: relative;
  min-height: 396px;
  background: linear-gradient(rgba(25,46,73,0.90), rgba(25,46,73,0.90)) center center no-repeat;
  z-index: 0;

  &.loaded {
    &::before {
      opacity: 1;
    }
  }
  &::before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(rgba(25,46,73,0.90), rgba(25,46,73,0.90)), url('/assets/img/hero_image.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0;
    transition: all 1s ease-in;
  }
}

.hero__logo {
  grid-column: 1 / span 12;

  @include md-up {
    grid-column: 2 / span 2;
  }
}

.hero__logo img {
  width: 122px;

  @include md-up {
    width: 100%;
  }

  @include lg-up {
    width: 203px;
  }
}

.hero__text {
  grid-column: 1 / span 12;
  color: $white;
  font-size: 21px;

    @include md-up {
      align-self: center;
      font-size: 28px;
      grid-column: 5 / span 7;
    }

    @include lg-up {
      font-size: 34px;
  }
}
