@import 'colors';
@import 'utilities';

// TODO: factor typography out of here

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
}

.rac-hero {
  position: relative;
  height: 396px;
  background: linear-gradient(rgba(25,46,73,0.90), rgba(25,46,73,0.90)), url("/assets/img/hero_image.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .hero-wrapper {
    padding: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (min-width: $break-md) {
      display: flex;
      align-items: center;
      padding: 0;
    }
  }
  .hero-logo {
    height: auto;
    text-align: left;
    img {
      width: 122px;
      @media screen and (min-width: $break-md) {
        width: 100%;
      }
      @media screen and (min-width: $break-lg) {
        width: 213px;
      }
    }
    @media screen and (min-width: $break-md) {
      @include grid-column(3);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(3);
      @include grid-push(1);
    }
  }
  .hero-text {
    font-family: $serif-stack;
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
    color: $pure-white;
    @media screen and (min-width: $break-md) {
      @include grid-column(9);
      font-size: 30px;
      line-height: 42px;
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(7);
      font-size: 34px;
      line-height: 46px;
    }
  }
}

.rac-page-header {
  height: 152px;
  position: relative;
  display: flex;
  &.level-1 {
    background: $deep-navy;
    h1 {
      color: $pure-white;
    }
  }
  &.level-2, &.level-3 {
    background: $light-blue;
  }
  h1 {
    position: absolute;
    bottom: 25px;
    @media screen and (min-width: $break-md) {
      @include grid-column(12);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(8);
      @include grid-push(2);
      padding-left: $gutters-default;
    }
  }
}

.rac-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  list-style: none;
  background-color: $off-white;
  ol {
    @media screen and (min-width: $break-md) {
      @include grid-column(12);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(8);
      @include grid-push(2);
      padding-left: $gutters-default;
    }
  }
  li, a {
    font-family: $sans-serif-stack;
    font-weight: 400;
    font-size: 11px;
    color: $med-gray;
    letter-spacing: .075em;
    line-height: 20px;
    text-transform: uppercase;
  }
  .rac-breadcrumb-item {
    display: inline-block;
    +.rac-breadcrumb-item {
      padding-left: .5rem;
      &::before {
        display: inline-block;
        padding-right: .5rem;
        content: "/";
      }
    }
  }
}

.three-column-content {
  @include grid-column(12);
  @media screen and (min-width: $break-md) {
    @include grid-column(9);
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(7);
    padding-bottom: 100px;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.left-sidebar {
  @include grid-column(6);
  @media screen and (min-width: $break-md) {
    @include grid-column(3);
    height: 100%;
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(2);
  }
}
.right-sidebar {
  @include grid-column(12);
  @media screen and (min-width: $break-md) {
    @include grid-column(9);
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(3);
    box-sizing: border-box;
    padding-right: 44px;
    padding-left: 40px;
    float: right;
  }
}

.one-column-content {
  @include grid-column(12);
  padding-bottom: 100px;
  @media screen and (min-width: $break-lg) {
    @include grid-column(8);
    @include grid-shift(2);
  }
}

.rac-call-to-action {
  padding-top: 60px;
  @media screen and (min-width: $break-md) {
    margin-right: 30px;
  }
  .action-button {
    display: block;
    text-align: left;
    box-sizing: border-box;
    padding: 20px 26px 24px 24px;
    background-size: cover;
    margin-bottom: $gutters-default;
    margin-right: $gutters-default * 2;
    @media screen and (min-width: $break-md) {
      @include grid-column(6);
      margin-right: 0;
      padding: 27px 64px 40px 25px;
    }
    h2 {
      font-family: $sans-serif-stack;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      color: $deep-navy;
      margin-bottom: 6px;
      border-bottom: none;
      @media screen and (min-width: $break-md) {
        font-size: 24px;
        line-height: 28px;
      }
      @media screen and (min-width: $break-lg) {
        font-size: 30px;
        line-height: 36px;
        max-width: 400px;
      }
    }
    p {
      @media screen and (min-width: $break-lg) {
        max-width: 400px;
      }
    }
  }
}

// TODO: roles and quicklinks have common layout and should be factored out to abstract classes

.rac-roles {
  .roles {
    @media screen and (min-width: $break-md) {
      @include grid-column(9);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(8);
    }
  }
  .role {
    margin-bottom: 25px;
    @media screen and (min-width: $break-md) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(6);
      padding: 0 40px;
      box-sizing: border-box;
      margin-bottom: 54px;
    }
  }
  img {
    height: 60px;
    width: 60px;
    margin-bottom: 12px;
    @media screen and (min-width: $break-md) {
      height: 74px;
      width: 74px;
      margin-bottom: 18px;
    }
    @media screen and (min-width: $break-lg) {
      height: 92px;
      width: 92px;
    }
  }
  .name {
    font-weight: 900;
    font-size: 16px;
    color: $burnt-orange;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin: 0 0 6px 0;
  }
  small {
    font-style: italic;
  }
  .container .container {
    margin-left: 0;
  }
}

.rac-quicklinks {
  .links {
    @media screen and (min-width: $break-md) {
      @include grid-column(9);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(8);
    }
  }
  .link-column {
    @media screen and (min-width: $break-lg) {
      @include grid-column(6);
      padding: 0 40px;
      box-sizing: border-box;
    }
  }
  .link-wrapper {
    margin-bottom: 24px;
  .link {
    font-size: 17px;
    margin: 0;
    }
    a {
      font-family: $sans-serif-stack;
      font-weight: 700;
      font-size: 17px;
      color: $burnt-orange;
      transition: $transition-default;
      &:after {
        content: '\00a0>'
      }
      &:hover {
        color: $med-brown;
        transition: $transition-default;
      }
    }
  }
  small {
    font-style: italic;
  }
}

.rac-instagram {
  background: $deep-navy;
  .title {
    color: $pure-white;
  }
}

section {
  padding-top: 20px;
  padding-bottom: 60px;
  @media screen and (min-width: $break-md) {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: $break-lg) {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  &.border-top {
    border: none;
    border-top: 2px dotted rgba(47, 47, 47, 0.3);
    width: 100%
  }
  .title {
    margin-top: 20px;
    margin-bottom: 30px;
    @media screen and (min-width: $break-md) {
      @include grid-column(3);
      margin-top: 0px;
    }
    h2, h3, h4, h5 {
      font-family: $sans-serif-stack;
      font-weight: 900;
      font-size: 18px;
      text-transform: uppercase;
      color: $deep-navy;
      letter-spacing: 2px;
      padding: 0px;
      margin: 0px;
      border-bottom: none;
    }
  }
}

.section-block {
  background-color: $light-blue;
  min-height: 120px;
  position: relative;
  margin-right: $gutters-default * 2;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $break-md) {
    @include grid-column(6);
    margin-right: 0;
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(6);
  }
  a {
    text-transform: uppercase;
    max-width: 220px;
    font-family: $sans-serif-stack;
    font-size: 16px;
    color: $deep-navy;
    line-height: 22px;
    padding: 18px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (min-width: $break-md) {
      padding: 20px 30px;
      max-width: 300px;
      font-size: 20px;
    }
  }
}

.biographies {
  display: flex;
  flex-wrap: wrap;
  .biography {
    margin-bottom: 26px;
    @include grid-column(6);
    @media screen and (min-width: $break-md) {
      @include grid-column(4);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(3)
    }
    img {
      width: 100%;
    }
    h3 {
      font-family: $sans-serif-stack;
      font-weight: 900;
      font-size: 15px;
      color: $deep-navy;
      line-height: 18px;
      margin: 8px 0 0 0;
    }
  }
}
