@import 'colors';
@import 'utilities';

.wrapper {
  display: flex;
}

.rac-page-header {
    height: 152px;
    position: relative;
    display: flex;
    &.level-1 {
      background: $deep-navy;
    }
    &.level-2 {
      background: $light-blue;
    }
    h1 {
      position: absolute;
      bottom: 25px;
      @media screen and (min-width: $break-md){
        @include grid-column(12);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      @media screen and (min-width: $break-lg) {
        @include grid-column(8);
        @include grid-push(2);
        padding-left: $gutters-default;
      }
    }
}

.rac-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  list-style: none;
  background-color: $off-white;
  ol {
    @media screen and (min-width: $break-md) {
      @include grid-column(12);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(8);
      @include grid-push(2);
      padding-left: $gutters-default;
    }
  }
  li, a {
    font-family: $sans-serif-stack;
    font-weight: 400;
    font-size: 11px;
    color: $med-gray;
    letter-spacing: .075em;
    line-height: 20px;
    text-transform: uppercase;
  }
  .rac-breadcrumb-item {
    display: inline-block;
    +.rac-breadcrumb-item {
      padding-left: .5rem;
      &::before {
        display: inline-block;
        padding-right: .5rem;
        content: "/";
      }
    }
  }
}

.side-nav {
  @media screen and (min-width: $break-lg) {
    @include grid-column(2);
  }
}

.sidebar {
  @media screen and (min-width: $break-lg) {
    @include grid-column(2);
  }
}

.section-block-wrapper {
  padding-bottom: 100px;
  @media screen and (min-width: $break-lg) {
    @include grid-column(8);
    @include grid-shift(2);
  }
}

.section-block {
  background-color: $light-blue;
  min-height: 120px;
  position: relative;
  margin-right: $gutters-default * 2;
  &:not(last) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $break-md) {
    @include grid-column(6);
    margin-right: 0;
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(6);
  }
  a {
    text-transform: uppercase;
    max-width: 220px;
    font-family: $sans-serif-stack;
    font-size: 16px;
    color: $deep-navy;
    line-height: 22px;
    padding: 18px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (min-width: $break-md) {
      padding: 20px 30px;
      max-width: 300px;
      font-size: 20px;
    }
  }
}
