@import 'colors';
@import 'utilities';


.rac-page-header {
    height: 152px;
    position: relative;
    display: flex;
    &.level-1 {
      background: $deep-navy;
    }
    &.level-2 {
      background: $light-blue;
    }
    h1 {
      position: absolute;
      bottom: 25px;
      @media screen and (min-width: $break-md){
        @include grid-column(12);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      @media screen and (min-width: $break-lg) {
        @include grid-column(6);
        @include grid-push(3);
      }
    }
}

.rac-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  list-style: none;
  background-color: $off-white;
  ol {
    @media screen and (min-width: $break-md) {
      @include grid-column(12);
    }
    @media screen and (min-width: $break-lg) {
      @include grid-column(6);
      @include grid-push(3);
    }
  }
  li, a {
    font-family: $sans-serif-stack;
    font-weight: 400;
    font-size: 11px;
    color: $med-gray;
    letter-spacing: .075em;
    line-height: 20px;
    text-transform: uppercase;
  }
  .rac-breadcrumb-item {
    display: inline-block;
    +.rac-breadcrumb-item {
      padding-left: .5rem;
      &::before {
        display: inline-block;
        padding-right: .5rem;
        content: "/";
      }
    }
  }
}
