// TODO: factor typography out of here
// TODO: determine what should go in separate includes

html {
  scroll-behavior: smooth;
}

/**
* Prevent iframes from being too wide on mobile.
**/
iframe {
  max-width: 100%;
}

.rac-page-title {
  min-height: 168px;

  &.level-1 {
    background: $regal-blue;

    h1 {
      color: $white;
    }
  }

  &.level-2, &.level-3 {
    background: $water-blue;
  }

  h1 {
    grid-column: 1 / span 12;
    margin-top: 1.2em;

    @include lg-up {
      grid-column: 3 / span 8;
    }
  }
}

/**
* Class to create a grid layout where the .three-column-content main content of
* the page is last in the DOM before the footer, but is visually placed between the
* left and right sidebars on large screens and below the right sidebar on medium and 
* small screens.
**/
.grid--dense {
  grid-auto-flow: dense;

  @include md-up {
    grid-template-rows: 300px minmax(300px, auto);
  }

  @include lg-up {
    grid-template-rows: auto;
  }
}

.three-column-content {
  grid-column: 1 / span 12;
  margin-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;

  @include md-up {
    grid-column: 4 / span 9;
    grid-row-start: 2;
  }

  @include lg-up {
    grid-column: 3 / span 7;
    padding: 0 35px 100px 35px;
    grid-row-start: auto;
  }
}

.left-sidebar {
  grid-column: 1 / span 6;

  @include md-up {
    grid-column: 1 / span 3;
    grid-row-start: 1;
    height: 100%;
  }

  @include lg-up {
    grid-column: 1 / span 2;
  }
}

.right-sidebar {
  grid-column: 1 / span 12;
  padding-bottom: 20px;
  padding-right: 15px;

  @include md-up {
    grid-column: 4 / span 9;
    grid-row-start: 1;
  }

  @include lg-up {
    grid-column: 10 / span 3;
    padding-right: 44px;
    padding-left: 55px;
  }
}

.one-column-content {
  grid-column: 1 / span 12;
  padding-bottom: 100px;

  @include lg-up {
    grid-column: 3 / span 8;
  }
}

.rac-call-to-action {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;

    @include md-up {
      grid-template-columns: repeat(2, 1fr);
    }

  .action__link {
    text-align: left;
    padding: 20px 26px 24px 24px;
    background-size: cover;
    text-decoration: none;

    &:focus {
      text-decoration: underline;
    }

    @include md-up {
      padding: 27px 64px 40px 25px;
    }

    h2 {
      font-weight: $font-weight-bold;
      font-size: 21px;
      line-height: 25px;
      color: $regal-blue;
      border-bottom: none;

      @include md-up {
        font-size: 24px;
        line-height: 28px;
      }

      @include lg-up {
        font-size: 30px;
        line-height: 36px;
        max-width: 400px;
      }
    }

    p {
      @include lg-up {
        max-width: 400px;
      }
    }
  }
}

// TODO: roles and quicklinks have common layout and should be factored out to abstract classes

.rac-roles {
  .roles {
    display: grid;
    column-gap: 15px;
    grid-column: 1 / span 12;

    @include md-up {
      grid-column: 4 / span 9;
    }
    @include lg-up {
      grid-column: 4 / span 7;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .role {
    margin-bottom: 25px;

    @include md-up {
      margin-bottom: 32px;
    }

    @include lg-up {
      padding: 0 40px;
      margin-bottom: 54px;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

  }
  img {
    height: 60px;
    width: 60px;
    margin-bottom: 12px;

    @include md-up {
      height: 74px;
      width: 74px;
      margin-bottom: 18px;
    }
    @include lg-up {
      height: 92px;
      width: 92px;
    }
  }

  .name {
    font-weight: 900;
    font-size: 16px;
    color: $flame-orange;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin: 0 0 6px 0;
  }
}

.rac-quicklinks {
  .links {
    display: grid;
    grid-column: 1 / span 12;

    @include md-up {
      grid-column: 4 / span 9;
    }

    @include lg-up {
      grid-column: 4 / span 7;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .link-column {
    @include lg-up {
      padding: 0 40px;
    }
  }

  .link {
    font-size: 17px;
    margin: 0;

    a {
      font-weight: $font-weight-bold;
      font-size: 17px;

      &:after {
        content: '\00a0>'
      }
    }
  }
}

.rac-instagram {
  background: $regal-blue;
  display: flex;
  justify-content: center;

  .instagram-posts {
    margin: -20px;

    @include md-up {
      margin: 0;
    }
  }

  a.instagram-link {
    font-family: $sans-serif-stack;
    font-size: 17px;
    text-transform: uppercase;
    float: right;

    @include md-up {
      margin-right: 20px;
    }

    &:hover {
      color: $white;
    }

    &:after {
      content: '\00a0>';
    }
  }
}

section {
  padding-top: 20px;
  padding-bottom: 60px;

  @include md-up {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  @include lg-up {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  &.border-top {
    border: none;
    border-top: 2px dotted rgba(47, 47, 47, 0.3);
    width: 100%
  }

  .title {
    grid-column: 1 / span 12;

    @include md-up {
      grid-column: 1 / span 3;
    }

    h2, h3, h4, h5 {
      font-family: $sans-serif-stack;
      font-weight: 900;
      font-size: 18px;
      text-transform: uppercase;
      color: $regal-blue;
      letter-spacing: 2px;
      border-bottom: none;
    }
  }
}

.section-block-wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;

  @include md-up {
    grid-template-columns: 1fr 1fr;
  }
}

.section-block {
  display: flex;
  align-items: center;
  background-color: $water-blue;
  min-height: 120px;
  padding: 18px 20px;
  text-decoration: none;

  &:focus {
    text-decoration: underline;
  }
  @include md-up {
    grid-template-columns: 1fr 1fr;
  }

  .text {
    text-transform: uppercase;
    max-width: 220px;
    font-family: $sans-serif-stack;
    font-size: 16px;
    color: $regal-blue;
    line-height: 22px;
    padding: 18px 20px;

    @include md-up {
      padding: 20px 30px;
      max-width: 300px;
      font-size: 20px;
    }
  }
}

.alert {
  background: $flame-orange;
  line-height: 1.5;

  & .material-icon {
    font-size: 100px;
    float: left;
  }
}
