.rac-social-icons {
  a {
    color: $deep-navy;
    i {
      display: inline-block;
    }
    &:hover {
      color: $burnt-orange;
      transition: $transition-default;
      svg g {
        fill: $burnt-orange;
        transition: $transition-default;
      }
    }
  }
  svg {
    // height: inherit;
  }
  @media screen and (min-width: $break-lg) {
    display: flex;
  }
}
