// -----------------------------------------------------------------------------
// This file contains local styles for the table of contents component
// -----------------------------------------------------------------------------

/**
* 1. Hide the table of contents on small screens to replace with the #toc-nav-toggle 
* button
*/

.toc {
  display: none; /* 1 */

  @include lg-up {
    display: flex;
    position: absolute;
  }

  @include md-up {
    display: block;
    position: unset;
    width:100%;
  }
}

/**
* Layout styles for the toc-nav-toggle button
*/
#toc-nav-toggle {
  margin-top: -52px;

  @include md-up {
    display: none;
  }
}
