@import 'colors';
@import 'typography';
@import 'utilities';

$nav-height: 50px;
$nav-background: $pure-white;
$nav-font-color: $deep-navy;
$link-hover-color: $burnt-orange;

// TODO: factor out typography
// TODO: social icons should be in a div which is positioned; all other styles should be moved to _social-icons.scss

nav.rac-top-nav {
  padding: 0;
  height: $nav-height;
  width: 100%;
  @media screen and (min-width: $break-md) {
    height: 60px;
  }
  @media screen and (min-width: $break-lg) {
    text-align: center;
    padding: 0;
  }
  .container {
    margin: 0;
    width: 100%;
  }
}

.brand {
  position: absolute;
  margin-left: 25px;
  margin-top:10px;
  float: left;
  z-index: 3;
  & img {
    width: 62px;
  }
  @media screen and (min-width: $break-md) {
    margin-left: 30px;
    & img {
      width: 70px;
    }
  }
  @media screen and (min-width: $break-lg) {
    margin-left: 48px;
    & img {
      width: auto;
    }
  }
}

.nav-mobile {
  display: block;
  @media screen and (min-width: $break-lg) {
    display: none;
  }
}

ul.list {
 display: none;
 position: relative;
 z-index: 1;
 background: $nav-background;
 list-style: none;
 text-align: right;
 margin: $nav-height 0 0 0;
 padding: 0px;
 @media screen and (min-width: $break-lg) {
   margin: 0;
   text-align: center;
   display: block;
 }
 li {
   padding: 15px 0;
   @media screen and (min-width: $break-lg) {
     display: inline-block;
     padding: 21px 25px 18px 25px;
     height: 21px;
   }
   a {
     padding-right: 20px;
     color: $deep-navy;
     font-family: $sans-serif-stack;
     font-weight: 700;
     font-size: 15px;
     letter-spacing: 0.125em;
     text-transform: uppercase;
     text-decoration: none;
     @media screen and (min-width: $break-lg) {
       font-size: 17px;
       position: relative;
       z-index: 2;
       &.active {
         border-bottom: 8px solid;
         color: $burnt-orange;
       }
       &:hover {
         font-weight: 900;
       }
     }
     & i {
       color: $deep-navy;
       font-size: 15px;
       vertical-align: middle;
       opacity: 0.7;
       @media screen and (min-width: $break-lg) {
         font-size: 21px;
         margin-left: 7px;
       }
     }
   }
   ul.dropdown {
     margin-top: 15px;
     margin-bottom: -15px;
     position: static;
     width: 100%;
     background: $deep-brown;
     padding: 22px 0 0 0;
     @media screen and (min-width: $break-lg) {
       margin: 0px;
       width: 360px;
       padding-top: 22px;
       position: absolute;
       display: none;
       z-index: 1;
     }
   }
   li {
     min-width: 300px;
     background: $deep-brown;
     padding: 12px 28px;
     text-align: left;
     height: auto;
     width: 100%;
     box-sizing: border-box;
     a {
       padding-right: 0px;
       display: block;
       margin-bottom: 0px;
     }
     &:hover {
       background: $med-brown;
     }
     & .title {
       font-family: $sans-serif-stack;
       font-weight: 900;
       font-size: 16.5px;
       text-transform: none;
       color: $pure-white;
       line-height: 20px;
       z-index: 1;
       letter-spacing: normal;
       margin: 0 0 3px 0;
       width: 100%;
     }
     & .description {
       font-family: $serif-stack;
       font-weight: 400;
       font-style: italic;
       color: $pure-white;
       line-height: 20px;
       font-size: 14px;
       opacity: 0.8;
       text-transform: none;
       letter-spacing: normal;
       margin: 0px;
       width: 100%;
     }
   }
 }
 .rac-social-icons {
   padding: 15px 20px 15px 0;
   @media screen and (min-width: $break-md) {
     padding-right: 30px;
   }
   @media screen and (min-width: $break-lg) {
     // TODO: positioning should not be absolute
     position: absolute;
     right: 40px;
     top: 21px;
     padding: 0;
     font-size: 18px;
   }
   a {
     font-size: 15px;
     svg {
       padding-bottom: 2px;
     }
     i {
       height: 30px;
       width: 30px;
     }
   }
 }
}

#nav-toggle {
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
  color: $burnt-orange;
  & i {
    font-size: ($nav-height)-10;
  }
  &.active {
    color: $med-brown;
  }
  @media screen and (min-width: $break-md) {
    top: 10px;
    right: 30px;
  }
}
