@import 'colors';
@import 'grid';
@import 'utilities';

@import url('https://fonts.googleapis.com/css?family=Lato|Manuale|Material+Icons&display=swap');

$sans-serif-stack: 'Lato', sans-serif;
$serif-stack: 'Manuale', serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;
// TODO: replace font weights with variables

body, p, a {
  font-family: $serif-stack;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 10px 0;
  color: $dark-gray;
  @media screen and (min-width: $break-lg) {
    font-size: 17px;
    line-height: 28px;
  }
}

strong, b {
  font-weight: $font-weight-bold;
}

em, i {
  font-style: italic;
}

h1 {
  font-size: 32px;
  color: $dark-gray;
  @media screen and (min-width: $break-md) {
    font-size: 42px;
  }
  @media screen and (min-width: $break-lg) {
    font-size: 52px;
  }
}

h2, h3, h4, h5, h6 {
  font-family: $sans-serif-stack;
  font-weight: $font-weight-bold;
  color: $deep-navy;
  margin: 0px;
}

h2 {
  font-size: 21px;
  border-bottom: 1.5px dotted $faded-navy;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-top: 60px;
  @media screen and (min-width: $break-lg) {
    margin-top: 0px;
    font-size: 28px;
    &:not(:first-child) {
      margin-top: 80px;
    }
  }
}

h3 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
  @media screen and (min-width: $break-lg) {
    font-size: 20px;
  }
}

h4 {
  font-size: 14px;
  color: $faded-orange;
  @media screen and (min-width: $break-lg) {
    font-size: 16px;
  }
}

a {
  font-weight: 700;
  color: $burnt-orange;
  text-decoration: none;
  transition: $transition-default;

  &:hover {
    color: $red-orange;
    cursor: pointer;
    }
  }

ul {
  line-height: 23px;
  @media screen and (min-width: $break-lg) {
    line-height: 24px;
  }
}

small {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  @media screen and (min-width: $break-lg) {
    font-size: 15px;
    line-height: 21px;
  }
}

.small {
  @extend small;
}

@mixin footer-text {
  font-family: $serif-stack;
  font-weight: 400;
  font-size: 15px;
  color: $deep-navy;
  line-height: 22px;
  margin-bottom: 10px;
}

.material-icons {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
